{% extends 'producto/base.html' %}
{% load static %}

{% block extra_head %}
<title>Editar Producto</title>
<link rel="stylesheet" href="{% static 'producto/css/formulario_producto.css' %}">
{% endblock extra_head %}

{% block content %}
<div class="form-container">
    <h2>Editar Producto</h2>
    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.nombre.id_for_label }}">{{ form.nombre.label }}:</label>
            {{ form.nombre }}
        </div>

        <div class="form-group">
            <label for="{{ form.descripcion.id_for_label }}">{{ form.descripcion.label }}:</label>
            {{ form.descripcion }}
        </div>

        <div class="form-group">
            <label for="{{ form.categoria.id_for_label }}">{{ form.categoria.label }}:</label>
            {{ form.categoria }}
        </div>

        <div class="form-group">
            <label for="{{ form.precio.id_for_label }}">{{ form.precio.label }}:</label>
            {{ form.precio }}
        </div>

        <div class="form-group">
            <label for="{{ form.cantidad.id_for_label }}">{{ form.cantidad.label }}:</label>
            {{ form.cantidad }}
        </div>

        <button type="submit">Guardar Producto</button>
    </form>
</div>
{% endblock content %}